<script type="text/javascript">
$(document).ready(function() {
  $("#jcountdown").setCountdown({
    //Date for the countdown
    targetDate: '2012-10-04',
    //Labels for days/hours/minutes/seconds,
    //[ 'Days', 'Hours', 'Minutes', 'Seconds' ] by default
    //itemLabels: [ 'D', 'H', 'M', 'S' ]
  });
});
</script>



<h1>Welcome</h1>
<div id="jcountdown"></div>